{% extends "backend/base.html.twig" %}

{% block title %}Yeni Sayfa Ekle {% endblock %}
{% block head %}Yeni Sayfa Ekle {% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <a class="btn btn-danger float-right mb-3" href="{{ path('pages_index') }}">listeye geri dön</a>
    {{ include('backend/pages/_form.html.twig') }}

    <script src=" {{ asset('bundles/fosckeditor/ckeditor.js')}} "></script>
    <script src=" {{ asset('bundles/fosckeditor/translations/tr.js')}} "></script>
{% endblock %}
{% block javascripts %}
    <script>
        ClassicEditor.create( document.querySelector( '.editor' ), {
            language: 'tr',
            options: {
                height : '100px'
            },
        } );

    </script>
{% endblock %}

{% block stylesheets %}
<style>
    .ck-content {
        height: 300px;
    }
    </style>
{% endblock  %}